<p id="notice"><%= notice %></p>

<h1>Our Great Teachers!</h1>

<% @teachers.each do |teacher| %>
    <div class = "row">
      <div class = "col-md-12">
        <div class = "well teacher-profile">
          <div class = "row">
            <div class = "col-md-4">
              <h1><%= link_to teacher.name, teachers_path(classroom: teacher.classroom) %></h1>
            </div>
            <div class = "col-md-4">
              <h2>Grade <%= teacher.grade %></h2>
            </div>
            <div class = "col-md-4">
              <h2>Classroom <%= teacher.classroom %></h2>
            </div>
          </div>
          <p><%= teacher.bio %></p>
          <p>
            <%= link_to 'Show', teacher %>
            <%= link_to 'Edit', edit_teacher_path(teacher) %></td>
            <%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        </div>
      </div>
    </div>
<% end %>


<% if @students != nil %>
  <div class = "row">
    <% @students.each do |student| %>
      <div class = "col-md-4">
        <div class = "well">
          <h2><%= student.name %></h2>
          <h4>
            <%= student.teacher %>'s <%= student.grade %><sup><% if student.grade > 3 %><%="th" %><%elsif student.grade == 3 %><%="rd" %><%elsif student.grade == 2 %><%="nd" %><%elsif student.grade == 1 %><%="st" %><% end %></sup> Grade Class
          </h4>
          <p><%= student.bio %></p>
          <p>
            <%= link_to 'Show', student %>
            <%= link_to 'Edit', edit_student_path(student) %>
            <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>


<%= link_to 'New Teacher', new_teacher_path %>
