<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @teacher.grade %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @teacher.classroom %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @teacher.bio %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
